{% extends 'base.html.twig' %}

{% block body %}
<h1>Partner name: {{ partner['name'] }}</h1>
<h1>Partner email: {{ partner['email'] }}</h1>
<h1>Partner phone: {{ partner['phone'] }}</h1>
{% endblock %}